@import "tailwindcss";
@theme {
  --color-super-light-sky-blue: #EAFAFD;
  --color-dark-navy-blue: #205781;
  --color-auqa-blue: #21A4E5;
  --text-h1: 24px;
  --text-h2: 20px;
  --text-h3: 16px;
  --text-p2: 14px;
  --text-p3: 10px;
}
